html
    head
        title Home
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/base.css")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js")
        script(src="/static/main.js")
    body
        div(class="container")
            h1 Upload files
            if message
                p(class=`alert alert-${messageType} alert-dismissible fade show`)= message
                    button(type="button", class="close", data-dismiss="alert")
                        span &times;
            form(action='/upload', method='POST', enctype='multipart/form-data')
                input(type='file', name='uploadFile')
                button(type="submit") Submit
            div(id="item-boxes", class="btn btn-default")
                each file in files
                     a(href=file.full)
                        div(class="item-box")= file.file