html
    head
        title Home
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")

    body
        h1 Upload files
        if message
            p.alert.alert-success= message
        form(action='/upload', method='POST', enctype='multipart/form-data')
            input(type='file', name='uploadFile')
            button(type="submit") Submit
        ul(class='list-unstyled')
            each file in files
                li
                    a(href=file.full)= file.file